<div class="page-width">
    {% if section.settings.title != blank %}
        <div class="section-header text-center">
            <h2>
                {{ section.settings.title | escape }}
            </h2>
        </div>
    {% endif %}

    <div class="grid">
        {% for staff in section.blocks %}
            {% if staff.settings.photo %}
                {{ staff.settings.photo | img_url: '250x' | img_tag }}
            {% endif %}
            <div class= "grid__item medium-up--one-half">
                <h3>{{ staff.settings.name }}</h3>
                <p>{{ staff.settings.title }}</p>
                <p>{{ staff.settings.bio }}</p>
            </div>
        {% endfor %}
    </div>
    
</div>
{% schema %}
{
    "name": "Team Members",
    "class": "team-members-section",
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "Section Title",
            "default": "Meet Our Team"
        }
    ],
    "blocks": [
        {
            "name": "Team Members",
            "type": "staff-profile",
            "settings": [
                {
                    "id": "photo",
                    "type": "image_picker",
                    "label": "Photo"
                },
                {
                    "id": "name",
                    "type": "text",
                    "label": "Name"
                },
                {
                    "id": "title",
                    "type": "text",
                    "label": "Job Title"
                },
                {
                    "id": "bio",
                    "type": "textarea",
                    "label": "Bio"
                }
            ]
        }
    ]
}
{% endschema %}